<div style = "margin:0 3rem 5rem 3rem">
	<br>
	<%= form_for(:comment, method: :create, url: post_comments_path(@post), remote: true) do |f| %>
		<div class="field">
			<div style = "float:left;margin:0 1rem 0 0"><%= f.label :name %> </div><div style = "float:left;width:45rem"> <%= f.text_field :commentor, class: "form-control focus-area", placeholder: "Your name" %></div>	
		</div>
		<br>
		<br>
		<div class="field" style = "width:50rem">
			<%= f.text_area :body, class: "form-control", placeholder: "Share your thoughts!" %>
		</div>
		<br>
		<div>
		<%= f.submit "Add comment" ,class: "btn btn-default" ,style: "float:left" %>
		</div>

	<% end %>
	<br>
</div>
