<div style ="box-shadow: 3px 3px 3px 3px solid black;text-align:center">
  <%= form_for(@project, html: { multipart: true }) do |f| %>
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div style = "text-align:center;display:inline-block">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control", style: "width:70em"   %><br>
      <%= f.label :url %><br>
      <%= f.text_field :url, class: "form-control", style: "width:70em;" %><br>
      <%= f.label :description %><br>
      <%= f.text_area :description , class: "form-control", rows: "5", id: "comment", style: "width:70em;height:10rem"%>
    </div>
    <div style = "height:3rem">
    </div>
    <div class="actions">
      <%= f.submit "Create new project", class: "btn btn-default" %>
    </div>
  <% end %>
</div>