
<div>

  <% @projects.each do |project| %>
  <a href="<%= project.url %>">
    <div class = "col-sm-6 projectViews fontLato animated fadeIn">
      <span style =""><%= project.title %></span>
      <br>
      <div style = "text-align:left;padding:1rem">
      <span style ="font-size:2rem;"><%= project.description %></span>
      </div>
      <% if user_signed_in? %>
        <%= link_to "Edit", edit_project_path(project) , class: "btn btn-default" %>
        <%= link_to "delete", project, method: :delete , class: "btn btn-danger" %>
      <% end %>
    </div>
  </a>
  <% end %>

</div>


