
<div>

  <% @projects.each do |project| %>
    <div class = "col-sm-6 projectViews fontLato animated fadeIn" style = "border:2px solid grey" >
      <span style = "color:#e71d36;" ><%= project.title %></span>
      <br>
      <hr>
      <div class = "descriptiondiv" style = "text-align:left;padding:1rem;font-size:2rem;color:#263238">
        <%= project.description %>
      </div>
        <%= link_to "Check it out!", project.url, class: "btn btn-default" %>
      <% if user_signed_in? %>
        <%= link_to "Edit", edit_project_path(project) , class: "btn btn-default" %>
        <%= link_to "delete", project, method: :delete , class: "btn btn-danger" %>
      <% end %>
    </div>
  <% end %>

</div>

