<div style = "text-align:center;">
  <h1 class = "fontLato" style= "font-size:5rem;font-weight:600">Projects</h1>
  <hr style = "display:inline-block;width:50%">
</div>
<div>
  <% @projects.each do |project| %>
  <%= link_to project.url do %>
  <div class = "projectViews fontLato animated fadeIn" >
    <div class = "project-index-title">
      <span><%= project.title %></span>
    </div>
    <div class = "descriptiondiv">
      <%= project.description %>
    </div>
    <% if user_signed_in? %>
    <%= link_to "Edit", edit_project_path(project) , class: "btn btn-default" %>
    <%= link_to "delete", project, method: :delete , class: "btn btn-danger" %>
    <% end %>
  </div>
  <% end %>
  <% end %>
</div>

