<div id = "top">
	<div style =  "position:relative;margin:0 0 0 0;padding:20% 0 0 0" class ="animated bounceIn">
		<span style = "font-size:6rem;font-weight:800;color:black">My Portfolio</span>
		<br>
		<div class = "logo noDecoration" style = "margin:2rem 0 2rem 0;font-size:2rem;color:#050505;text-align:center;display:inline-block">
			<%= link_to "Enoch Ko", root_path, style: "color:#011627;letter-spacing:0.5em;" %>
		</div>
	</div>
</div>
<div id = "middle">
	<div class = "jumbotron" style = "background-color:#2EC4B6">
		<span class = "whoami-middle slide-left">Who Am I?</span>
	</div>
	<div style = "margin:0 auto;width:400px;text-align:left;">
		<br>
		<span style = "font-size:3rem;color:#050505;"> I am..</span>			
		<br>
		<br>
		<p>A web designer/developer in Phoenix Arizona,</p>
		<p>I specialize in developing efficient and competent</p>
		<p>web applications using HTML5, CSS3, Javascript and Ruby.</p>
	</div>
	<br>
	<%= link_to "More About Me", homes_aboutme_path, class: "btn btn-default morebtn" %>
</div>
<div id = "bottom">
	<div style =  "position:relative;margin:0 0 0 0;padding:3% 0 0 0;text-align:center">
		<span style = "font-size:5rem;font-weight:800;color:black">My Work</span>
		<div style = "overflow:auto;margin:0 8% 0 8%;">
			<% @projects.each do |project| %>
				<%= render 'project', project: project %>
				<script>
					$('div#<%= dom_id(project) %> .indexproject').on("mouseenter",function(){
						$('div#<%= dom_id(project) %> .indexproject').addClass("shadow");
					});
					$('div#<%= dom_id(project) %> .indexproject').on("mouseleave",function(){
						$('div#<%= dom_id(project) %> .indexproject').removeClass("shadow")
					});
				</script>
			<%end%>
		</div>
	</div>
</div>
