<div class = "background-img">
	<%= image_tag("grandcanyon.jpg", style: "width:110%") %>
</div>
<div class ="body-container">
	<div id = "top">
		<div style =  "position:relative;margin:0 0 0 0;padding:20% 0 0 0" class ="animated bounceIn">
			<span style = "font-size:6rem;font-weight:800;color:black">My Portfolio</span>
			<br>
			<div class = "logo noDecoration">
				<%= link_to "Enoch Ko", root_path, style: "color:#011627;letter-spacing:0.5em;" %>
			</div>
		</div>
	</div>
	<div id = "middle">
		<div class = "jumbotron" style = "background-color:#2EC4B6">
			<span class = "whoami-middle slide-left">Who Am I?</span>
		</div>
		<div class = "my-description">
			<br>
			<span style = "font-size:3rem;color:#050505;"> I am..</span>			
			<br>
			<br>
			<p>A web designer/developer in Phoenix Arizona,</p>
			<p>specializing in developing efficient and competent</p>
			<p>web applications using HTML5, CSS3, JavaScript and Ruby.</p>
		</div>
		<br>
		<%= link_to "More About Me", homes_aboutme_path, class: "btn btn-default morebtn" %>
	</div>
	<div id = "services">
		<div style = "font-size:5rem;font-weight:600">
			I Mainly Focus On..
		</div>
		<div class = "skills1">
			<div class = "skill">
				<div>
					Responsive Design
				</div>
				<div>
					<%= image_tag("responsive-design.png", alt: "responsive-design.png", class: "skill-img") %> 
				</div>
				<div class = "skill-description">
				</div>

			</div>
			<div class = "skill">
				<div>
					Reliability
				</div>
				<div>
					<%= image_tag("thumbs-up.jpg", alt: "thumbs-up.jpg", class: "skill-img") %> 
				</div>
				<div class = "skill-description">
				</div>

			</div>
		</div>
		<div class = "skills2">
			<div class = "skill">
				<div>
					Performance
				</div>
				<div>
					<%= image_tag("performance.png", alt: "performance.jpg", class: "skill-img") %>
				</div>
				<div class = "skill-description">
				</div>

			</div>
			<div class = "skill">
				<div>
					Features
				</div>
				<div>
					<%= image_tag("wifi.jpg", alt: "features.jpg", class: "skill-img") %>
				</div>
				<div class = "skill-description">
				</div>

			</div>
		</div>
	</div>
	<div id = "bottom">
		<div style =  "position:relative;margin:0 0 0 0;padding:3% 0 0 0;text-align:center">
			<span style = "font-size:5rem;font-weight:800;color:black">My Work</span>
			<div style = "overflow:auto;margin:0 7% 0 7%;">
				<% @projects.each do |project| %>
				<%= render 'project', project: project %>
				<script>
				$('div#<%= dom_id(project) %> .indexproject').on("mouseenter",function(){
					$('div#<%= dom_id(project) %> .indexproject').addClass("shadow");
				});
				$('div#<%= dom_id(project) %> .indexproject').on("mouseleave",function(){
					$('div#<%= dom_id(project) %> .indexproject').removeClass("shadow")
				});
				</script>
				<%end%>
			</div>
		</div>
	</div>
</div>
