<div class ="body-container">
	<div id = "top">
		<div style =  "position:relative;margin:0 0 0 0;padding:20% 0 0 0" class ="animated bounceIn">
			<span style = "font-size:6rem;font-weight:800;color:black">My Portfolio</span>
			<br>
			<div class = "logo noDecoration">
				<%= link_to "Enoch Ko", root_path, style: "color:#011627;letter-spacing:0.5em;" %>
			</div>
		</div>
	</div>
	<div id = "middle">
		<div class = "jumbotron" style = "background-color:#2EC4B6">
			<span class = "whoami-middle slide-left titles">Who Am I?</span>
		</div>
		<div class = "my-description">
			<br>
			<span style = "font-size:3rem;color:#050505;"> I am..</span>			
			<br>
			<br>
			<div class = "my-description-sentences hidden-class" >
				A web designer/developer in Phoenix Arizona,
				specializing in developing efficient and competent
				web applications using HTML5, CSS3, JavaScript and Ruby.
			</div>
		</div>
		<br>
		<%= link_to "More About Me", aboutme_path, class: "btn btn-default morebtn" %>
	</div>
	<script>
	$(document).on("scroll",function(){
		if ($(document).scrollTop() > 400 && $(".my-description-sentences").hasClass("hidden-class")){
			$(".my-description-sentences").removeClass("hidden-class");
			$(".my-description-sentences").addClass("animated fadeInRight");

		}
		if ($(document).scrollTop() > 1000 && $(".firstskill").hasClass("hidden-class")){
			$(".firstskill").removeClass("hidden-class");
			$(".firstskill").addClass("animated fadeInRight");
			setTimeout(function(){
				$(".secondskill").removeClass("hidden-class");
				$(".secondskill").addClass("animated fadeInRight");
			},300);
			setTimeout(function(){
				$(".thirdskill").removeClass("hidden-class");
				$(".thirdskill").addClass("animated fadeInRight");
			},600);
			setTimeout(function(){
				$(".fourthskill").removeClass("hidden-class");
				$(".fourthskill").addClass("animated fadeInRight");
			},900);
			



		}
	});
	</script>
	<div id = "services">
		<div class = "titles" style = "margin-bottom:4rem;">
			I Deliver..
		</div>
		<div class = "skills1">
			<div class = "firstskill skill hidden-class">
				<div>
					Responsive Design
				</div>
				<div>
					<%= image_tag("responsive-design.png", alt: "responsive-design.png", class: "skill-img") %> 
				</div>
				<div class = "skill-description">
					With so many different internet-capable devices today, it became necessary
					to implement responsive designs to improve the users' experience.
					With combinations of HTML, CSS3, and Bootstrap, I provide unique
					views that correspond to their screen sizes.
				</div>

			</div>
			<div class = "secondskill skill hidden-class">
				<div>
					Reliability
				</div>
				<div>
					<%= image_tag("thumbs-up.jpg", alt: "thumbs-up.jpg", class: "skill-img") %> 
				</div>
				<div class = "skill-description">
					Today, just way too many projects fail early. Through incremental
					development method, correct test approach, accurate scheduling, 
					I offer softwares that are reliable in numerous different situations on time.
					<span style = "visibility:hidden;">asdfasdfasaa</span>                                          
				</div>

			</div>
		</div>
		<div class = "skills2">
			<div class = "thirdskill skill hidden-class">
				<div>
					Performance
				</div>
				<div>
					<%= image_tag("performance.png", alt: "performance.jpg", class: "skill-img") %>
				</div>
				<div class = "skill-description">
					Many webpages take too long, and take away your precious time. Using
					minimal libraries, frameworks, and efficient codes, I give my clients
					softwares that are fast, and efficient, without sacrificing quality.
				</div>

			</div>
			<div class = "fourthskill skill hidden-class">
				<div>
					Features
				</div>
				<div>
					<%= image_tag("wifi.jpg", alt: "features.jpg", class: "skill-img") %>
				</div>
				<div class = "skill-description">
					Often times, projects are dull, and difficult to achieve certain tasks.
					Through using latest technologies, I fulfill my clients' feature
					requests, and make their software much more fun and awesome to use.
				</div>

			</div>
		</div>
	</div>
	<div id = "bottom">
		<div style =  "position:relative;padding:3% 0 0 0;text-align:center">
			<span class = "titles" style = "color:black">My Work</span>
			<div style = "text-align:center;margin:0 7%;">
				<% @projects.each do |project| %>
				<%= render 'project', project: project %>
				<script>
				$('div#<%= dom_id(project) %> .indexproject').on("mouseenter",function(){
					$('div#<%= dom_id(project) %> .indexproject').addClass("shadow");
				});
				$('div#<%= dom_id(project) %> .indexproject').on("mouseleave",function(){
					$('div#<%= dom_id(project) %> .indexproject').removeClass("shadow")
				});
				</script>
				<%end%>
			</div>
			<div style = "clear:both">
			</div>
		</div>
	</div>
</div>
