<div style = "text-align:center;">
  <h1 class = "fontLato" style= "font-size:5rem;font-weight:600">Articles</h1>
  <hr style = "display:inline-block;width:50%">
</div>


<div style = "text-align:center;margin:0 0 0 0">
  <% if user_signed_in? %>
    <%= link_to "New Article", new_post_path, class: "btn btn-info" %>
  <% end %>
  <br>
  <% @posts.each do |post| %>

  <div class = "postViews fontLato animated fadeIn">
    <div style = "width: 100%;" >
      <div class = "index-article-title"><%= link_to post.title, post %></div> <div style = "color:#818181;float:right;font-size:1.5rem"><%= time_ago_in_words(post.created_at) %> ago.</div>
    </div>
    <div style = "text-align:right" >
      <% if user_signed_in? %>
        <%= link_to "Edit", edit_post_path(post) %>
        <%= link_to "Delete", post, method: :delete, data: {confirm: "Are you sure?"}%>
      <% end %>
    </div>

  </div>
  <% end %>
</div>
