<p id="notice"><%= notice %></p>
<div>
	<div style = "text-align:center;font-size:3em;margin:1.2em" class = "fontBradley">
		<%= @post.title %>
	</div>
	<div style = "padding:4em;font-size:1.7em;padding:0rem 20rem 0rem 20rem" class = "well">
		<%= @post.body.html_safe %>
	</div>


</div>
<div class = "comment-holder">
	<%= render partial: @post.comments %>
</div>
<div>
	<%= render "comments/form" %>
</div>
<div style = "text-align:center">
<% if user_signed_in? %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path, class: "btn btn-default" %>
</div>
