<div>
	<div style = "text-align:center;font-size:3em;margin:1.2em" class = "fontLato">
		<%= @post.title %>
	</div>
	<div class = "well fontLato post-show-body">
		<%= @post.body.html_safe  %>
	</div>
	<br>
	<div id = "comment-holder" class = "fontLato">
		<%= render partial: @post.comments%>
	</div>
</div>


<div style = "text-align:center">
	<%= render "comments/form" %>
	
</div>
<div style = "text-align:center">
	<% if user_signed_in? %>
		<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default fontLato" %>
	<% end %>
		<%= link_to 'Back', posts_path, class: "btn btn-default fontLato" %>
</div>
