<div>
	<div style = "text-align:center;font-size:3em;margin:3rem 3rem 0rem 3rem;font-weight:900" class = "fontOpen">
		<%= @post.title %>
	</div>
	<div class = "fontOpen" style = "font-weight:900;color:#D0D0D0;text-align:center;margin-bottom:2rem">
		<%=  @post.created_at.strftime("%B") %> <%= @post.created_at.day%>, <%= @post.created_at.year %>
	</div>
	<div class = "fontOpen post-show-body">
		<%= @post.body.html_safe  %>
	</div>
	<br>
	<div id = "comment-holder" class = "fontOpen">
		<%= render partial: @post.comments%>
	</div>
</div>


<div style = "text-align:center">
	<%= render "comments/form" %>
	
</div>
<div style = "text-align:center">
	<% if user_signed_in? %>
		<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default" %>
	<% end %>
		<%= link_to 'Back', posts_path, class: "btn btn-default" %>
</div>
