<div>
	<div style = "text-align:center;font-size:3em;margin:1.2em" class = "fontBradley">
		<%= @post.title %>
	</div>
	<div style = "padding:4em;font-size:1.7em;padding:0rem 10% 0rem 10%" class = "well">
		<%= @post.body.html_safe %>
	</div>
	<br>
	<div id = "comment-holder">
		<%= render partial: @post.comments %>
	</div>
</div>


<div style = "text-align:center">
	<%= render "comments/form" %>
	
</div>
<div style = "text-align:center">
	<% if user_signed_in? %>
		<%= link_to 'Edit', edit_post_path(@post) %> |
	<% end %>
		<%= link_to 'Back', posts_path, class: "btn btn-default" %>
</div>
