<!DOCTYPE html>
<html>
<head>
  <title>Enoch's Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body style = "background-color:white">
	<% if notice || alert %>
	<div id = "notification" class = "fontBradley" style = "font-size:2em">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</div>
	<%end%>
	<button id="menu-toggle" href="#" class="btn btn-lg" style = "margin:1rem;background-color:#d04c3f">
		<span class = "glyphicon glyphicon-menu-hamburger"></span>
	</button>
    







<%= yield %>	


<script>
	$(document).ready(function(){
		setTimeout(function(){
			$("#notification").fadeOut("slow",function(){
				$("this").remove()

			})
		},1300)
	});


</script>


</body>

</html>
