<!DOCTYPE html>
<html>
<head>
  <title>Enoch's Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body style = "background-color:white">
	<% if notice || alert %>
	<div id = "notification" class = "fontBradley" style = "font-size:2em">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</div>
	<%end%>
	<button id="menu-toggle" href="#" class="btn btn-lg" style = "margin:1rem;background-color:#d04c3f;z-index:10000">
		<span class = "glyphicon glyphicon-menu-hamburger"></span>
	</button>
	<div id = "mainmenu" class = "animated" style = "background-color:#d04c3f;width:100%;height:800px;opacity:0;position:fixed;z-index:9999;text-align:center;font-size:8rem;padding:14rem 0 14rem 0;font-weight:500;display:none">
			<p><%= link_to "Home", root_path, style: "color:white" %></p>
			<p><%= link_to "Projects", projects_path %></p>
			<p><%= link_to "Articles", posts_path %></p>
			<p><%= link_to "Events", events_path %></p>
			<p><%= link_to "About Me", homes_aboutme_path %></p>
			<p><%= link_to "Contact", homes_contact_path %></p>	
	</div>
<%= yield %>	
<script>
	$(document).ready(function(){
		var menuout = 0;
		setTimeout(function(){
			$("#notification").fadeOut("slow",function(){
				$("this").remove()
			})
		},1300);
		$("#menu-toggle").on("click",function(){
			if(menuout == 0){
				$("#mainmenu").removeClass("fadeOutRight");
				$("#mainmenu").addClass("fadeInRight");
				$("#mainmenu").show();
				menuout = 1;
			}else{
				$("#mainmenu").removeClass("fadeInRight");
				$("#mainmenu").addClass("fadeOutRight");
				setTimeout(function(){
					$("#mainmenu").hide();
				},500);
				
				menuout = 0;
			}

		});


	});
</script>


</body>

</html>
